body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator{
    height: 850px;
    width: 650px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto;
    grid-template-areas:
    "screen screen clear equal"
    "one two three plus"
    "four five six subtract"
    "seven eight nine multiply"
    ". zero . divide";
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

#screen{
    grid-area: screen;
    color: white;
    background-color: rgba(2, 80, 13, 0.616);
    font-size: 60px;
    height: 50%;
    margin-left: 5px;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    border-radius: 10px;
}

#clear{
    grid-area: clear;
    color: royalblue;
    font-size: 30px;
    line-height: 120px;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color:rgb(110, 104, 102);
    color: yellow;
}

#digitOne{
    grid-area: one;
}

#digitTwo{
    grid-area: two;
}

#digitThree{
    grid-area: three;
}

#addition{
    grid-area: plus;
}

#digitFour{
    grid-area: four;
}

#digitFive{
    grid-area: five;
}

#digitSix{
    grid-area: six;
}

#subtraction{
    grid-area: subtract;
}

#digitSeven{
    grid-area: seven;
}

#digitEight{
    grid-area: eight;
}

#digitNine{
    grid-area: nine;
}

#multiplication{
    grid-area: multiply;
}

#digitZero{
    grid-area: zero;
}

#division{
    grid-area: divide;
}

#equals{
    grid-area: equal;
}

.digits{
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 10px rgb(255, 255, 255, 0.5);
}

.digits:hover{
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    box-shadow: 0px 0px rgb(255, 255, 255);
}

.operator{
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    color: yellow;
    background-color: orangered;
    box-shadow: 5px 10px rgba(255, 81, 0, 0.5);
}

.operator:hover{
    background-color: orangered;
    font-size: 60px;
    box-shadow: 0px 0px rgb(255, 255, 255);
}